body {
    font-family: "Gideon Roman", serif;
}
.fixed-header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #fff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}
.header {
    background-color: #fff;
    color: #34398a;
}
.desktop-header {
    display: block;
}
.mobile-header {
    display: none;
}
.header .logo-box img {
    height: 60px;
    width: 230px;
}
.erp-logo a img {
      height: 30px;
      width: 40px;
}
/* hamburger */
.checkbox {
    display: none;
}
.content-header {
    gap: 50px;
}
.content-header .anchar_tag {
    text-decoration: none;
}
.content-header .campus {
    text-decoration: none;
    background: #eee;
    color: #34398a;
    padding: 2px 16px;
    border-radius: 15px;
}
.content-header .campus:hover {
    background: #34398a;
    color: #fff;
    transform: scale(1.1);
    transition: 0.35s;
}
.button {
    position: relative;
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
}

.background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 5.5vh;
    right: 5.5vw;
    z-index: 1000;
    /*background: #fff;*/
}

.nav-section {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
    display: flex;
    align-items: center;
}

/* functionality */
.checkbox:checked ~ .background {
    transform: scale(80);
}
.checkbox:checked ~ .nav-section {
    opacity: 1;
    width: 100%;
    right: 0;
}

/*  */
/* styling hamb ICON */
.icon-toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-toggle,
.icon-toggle::before,
.icon-toggle::after {
    width: 2.2rem;
    height: 5px;
    background-color: #34398a;
    display: inline-block;
    border-radius: 10px;
}

.icon-toggle::before,
.icon-toggle::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon-toggle::before {
    top: -0.5rem;
}
.icon-toggle::after {
    top: 0.5rem;
}

.button:hover icon:before {
    top: -1rem;
}
.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked + .button .icon-toggle {
    background-color: transparent;
}

.checkbox:checked + .button .icon-toggle::before {
    top: 0;
    transform: rotate(135deg);
}
.checkbox:checked + .button .icon-toggle::after {
    top: 0;
    transform: rotate(-135deg);
}

nav {
    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        display: block;
        text-decoration: none;
        &:hover,
        &:visited {
            text-decoration: none;
        }
    }
}

.menu-bar {
    display: flex;
    flex-direction: column;
}

.menu-link {
    padding: 8px 25px;
    background: transparent;
    color: #34398a;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s, color 0.2s;
    position: relative;
    z-index: 1;
    &[aria-haspopup="true"] {
        padding-right: 40px;
        &:after {
            content: "";
            background-image: url("../../s.cdpn.io/1397521/arrowRight.svg");
            background-size: 14px;
            width: 14px;
            height: 14px;
            font-size: 12px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.mega-menu {
    background: transparent;
    z-index: 10;
}

.mega-menu--multiLevel {
    flex-direction: column;
}

/* // ------------------ MEDIA QUERIES */

@media all and (min-width: 950px) {
    .nav-section {
        background-image: url("assets/img/web page blue.jpg");
        background-position: center;
        background-size: cover;
        > nav {
            max-width: 25%;
            margin-left: 15%;
        }
    }

    .menu {
        [aria-haspopup="true"] {
            ~ ul {
                display: none;
            }
        }
    }

    .menu-bar {
        position: relative;
        > li {
            > [aria-haspopup="true"] {
                /* // STYLING: Down arrow on desktop */
                &:after {
                    background-image: url("../../s.cdpn.io/1397521/arrowBottom.svg");
                }
                &:hover {
                    &:after {
                        background-image: url("../../s.cdpn.io/1397521/arrowBottom.svg");
                    }
                }

                /* // FUNCTIONALITY: Open mega menu */
                &:focus {
                    ~ ul {
                        display: flex;
                        transform-origin: top;
                        animation: dropdown 0.2s ease-out;
                    }
                }
                /* // FUNCTIONALITY: Keep mega menu open */
                ~ ul {
                    &:hover {
                        display: flex;
                    }
                }
            }

            /* // FUNCTIONALITY: Keep mega menu open */
            &:focus-within {
                > [aria-haspopup="true"] {
                    ~ ul {
                        display: flex;
                    }
                }
            }

            /* // STYLING: Hover/Active state */
            > [aria-haspopup="true"]:focus,
            &:focus-within > [aria-haspopup="true"],
            &:hover > a {
                background: rgba(52, 57, 138, 0.1);
                color: #f71d35;
                &:after {
                    background-image: url("../../s.cdpn.io/1397521/arrowTop.svg");
                }
            }
        }
    }

    .mega-menu {
        /* // LAYOUT: Mega menu */
        position: absolute;
        top: 0%;
        left: 100%;
        /* background-color: transparent; */
        width: 100%;
        /* // FUNCTIONALITY: Keep mega menu open */

        &:hover {
            display: flex;
        }
        a {
            &:hover {
                background: tint(#177e89, 85%);
                color: darken(#177e89, 5%);
            }
        }
    }

    .mega-menu--multiLevel {
        /* // LAYOUT: Multi level columns */
        > li {
            width: 100/3 + 0%;
            > [aria-haspopup="true"] {
                ~ ul {
                    left: 100/3 + 0%;
                    width: 100/3 + 0%;
                    ul {
                        width: 100%;
                        left: 100%;
                    }
                }
            }
        }

        li {
            /* // FUNCTIONALITY: Opening flyouts */
            &:hover {
                > [aria-haspopup="true"] {
                    ~ ul {
                        display: block;
                        transform-origin: left;
                        animation: flyout 0.2s ease-out;
                    }
                }
            }

            /* // FUNCTIONALITY: Keeping flyouts open */
            &:focus-within {
                > [aria-haspopup="true"] {
                    ~ ul {
                        display: block;
                    }
                }
            }

            /* // STYLING: Flyout link active states */
            &:hover,
            &:focus-within {
                > [aria-haspopup="true"],
                > a {
                    background: tint(#177e89, 85%);
                    color: darken(#177e89, 5%);
                }
            }
        }
        [aria-haspopup="true"] {
            ~ ul,
            & {
                border-left: 1px solid #f0f0f0;
                /* // FUNCTIONALITY: Keeping flyouts open */
                &:hover {
                    display: block;
                }
            }
            /* // LAYOUT: Flyouts */
            ~ ul {
                position: absolute;
                top: 0;
                height: 100%;
            }
        }
    }

    /* // STYLING: Flat mega menu columns */
    .mega-menu--flat {
        > * {
            flex: 1;
        }
    }

    /* // Hide mobile specific elements */
    .mobile-menu-header,
    .mobile-menu-back-item {
        display: none;
    }
}

@media all and (max-width: 950px) {
    .nav-section {
        padding: 20px;
    }

    .mobile-menu-header,
    .mobile-menu-back-item {
        display: block;
    }

    .mobile-menu-header {
        order: -1;
        background: grey;
        a {
            padding: 20px 25px;
            color: #ffffff;
            visibility: visible;
        }
    }

    .menu-bar {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 350px;
        max-width: 350px;
        max-width: 90%;
        overflow-x: hidden;
        transition: left 0.3s;
        box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.25);
        > li {
            > [aria-haspopup="true"] {
                ~ ul {
                    display: flex;
                    flex-direction: column;
                    background: #ffffff;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    max-height: 100vh;
                    width: 100%;
                    transition: left 0.3s;
                    /* // Second level */
                    > li {
                        > [aria-haspopup="true"] {
                            font-size: 1.2em;
                            ~ ul {
                                a {
                                    padding-left: 40px;
                                }
                                /* // Third level */
                                > li {
                                    > [aria-haspopup="true"] {
                                        ~ ul {
                                            a {
                                                padding-left: 80px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    [aria-haspopup="true"] {
                        color: #2a2a2a;
                        &:after {
                            content: "+";
                            background: none;
                            font-size: 1em;
                            font-weight: normal;
                            height: 20px;
                            line-height: 1;
                        }
                        ~ ul {
                            max-height: 0px;
                            transform-origin: top;
                            transform: scaleY(0);
                            transition: max-height 0.1s;
                        }
                    }
                }
            }
        }
    }

    .mega-menu-content {
        padding: 20px 25px;
    }

    .mobile-menu-back-item {
        order: -1;
        a {
            background: tint(grey, 70%);
            color: #2a2a2a;
            max-height: "calc(1.4em + 40px)";
            margin-top: "calc(0px - (1.4em + 40px))";
            pointer-events: none;
            &:before {
                content: "";
                width: 14px;
                height: 12px;
                background-image: url("../../s.cdpn.io/1397521/arrowLeft.svg");
                background-size: 14px;
                margin-right: 10px;
                display: inline-block;
            }
        }
    }

    /* // ------------------------ ALL DEVICES */

    .mobile-menu-trigger {
        &:focus {
            ~ ul {
                left: 0;
            }
        }
    }

    .menu-bar {
        /* // FUNCTIONALITY: Keep menu open */
        &:hover,
        &:focus-within {
            left: 0;
        }
        > li {
            > [aria-haspopup="true"] {
                /* // FUNCTIONALITY: Open mega menu */
                &:focus {
                    ~ ul {
                        left: 0;
                    }
                }
                ~ ul {
                    /* // STYLING: Back button offset */
                    margin-top: "calc(1.4em + 40px)";

                    /* // FUNCTIONALITY: Keep mega menu open */
                    &:hover,
                    &:focus-within {
                        left: 0;
                    }
                    /* // FUNCTIONALITY: Open dropdowns */
                    [aria-haspopup="true"] {
                        &:focus {
                            ~ ul {
                                max-height: 500px;
                                animation: dropdown 0.3s forwards;
                            }
                        }
                    }
                    /* // FUNCTIONALITY: Keep dropdowns open */
                    li {
                        &:focus-within {
                            > [aria-haspopup="true"] {
                                ~ ul {
                                    max-height: 500px;
                                    transform: scaleY(1);
                                }
                            }
                        }
                    }
                }
            }
            /* // FUNCTIONALITY: Prevent clicks on link behind back button */
            &:focus-within ~ .mobile-menu-header a {
                visibility: hidden;
            }
        }
    }

    /* // ------------------------ TOUCH DEVICES */

    @media (hover: none) {
        /* // FUNCTIONALITY: Open mobile menu  */
        .mobile-menu-trigger {
            &:hover {
                ~ ul {
                    left: 0;
                }
            }
        }

        /* // FUNCTIONALITY: Open mega menu */
        .menu-bar {
            > li {
                > [aria-haspopup="true"] {
                    &:hover {
                        ~ ul {
                            left: 0;
                        }
                    }
                    ~ ul {
                        &:hover {
                            left: 0;
                        }
                        /* // FUNCTIONALITY: Open dropdowns */
                        [aria-haspopup="true"] {
                            &:hover {
                                ~ ul {
                                    max-height: 500px;
                                    animation: dropdown 0.3s forwards;
                                }
                            }
                            ~ ul {
                                &:hover {
                                    max-height: 500px;
                                    transform: scaleY(1);
                                }
                            }
                        }
                    }
                }
                &:hover ~ .mobile-menu-header {
                    a {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

/* // ------------------ ANIMATIONS */

@keyframes dropdown {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes flyout {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}
@media only screen and (max-width: 767px) {
    .apply-button {
        display: none;
    }
    header .logo-box {
        height: 40px;
        width: 150px;
    }
    .content-header {
        gap: 10px;
    }
    .header .py20 {
        padding-top: 23px;
        padding-bottom: 23px;
    }
}
